*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden; 
}

.GearGameDiv{
    background-image: url("./gearBackGroud.PNG");
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode:lighten;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 
    "Game" 1fr
    /1fr;
    align-items: center;
    justify-items: center;
}

.Game{
    grid-area: Game;
    display: grid;
    width: 100%;
    height: 100%;
    justify-items: center;
    grid-template: 
    "stacks" 1fr
    "Gears" 0.4fr
    /1fr;
}

.stakesDiv{
    border: 10px double black;
    display: flex;
    justify-content: center;
    align-content: center;
    grid-area: stacks;
    width: 100%;
    height: 100%;
}

.GearsDiv{
    border: 10px double black;
    display: grid;
    grid-template:
    "prev choiceGear next" 100%/
    0.5fr 1fr 0.5fr;
    align-items: center;
    grid-area: Gears;
    width: 100%;
    height: 100%;
}

.stakes{
    position: absolute;
}

.stakesGear{
    position: absolute;
    text-align: center;
}

.ChoiceGears{
    grid-area: choiceGear;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PrevGearButton{
    font-size: 100px;
    background-color: rgba(0,0,0,0);
    border: 0px;
    height: 100%;
    grid-area: prev;
}

.NextGearButton{
    font-size: 100px;
    background-color: rgba(0,0,0,0);
    border: 0px;
    height: 100%;
    grid-area: next;
}

.UsingGearsP{
    grid-area: choiceGear;
    text-align: center;
    position: relative;
    font-size: 50px;
    left: 30%;
    top: 30%;
}

.setLevels{
    grid-area: Game;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 
    "." 10vh
    "title" 10vh
    "levels" 1fr
    /1fr;
    align-items: center;
    justify-items: center;
}

.title{
    grid-area: title;
    text-align: center;
    width: 100%;
    font-size: 30px;
}

.setLevels ul{
    grid-area: levels;
    text-align: center;
    width: 50%;
    font-size: 50px;
}

.Result{
    background-color: rgba(255, 255, 255, 0.7);
    grid-area: stakes;
    position:absolute;
    display: grid;
    align-items:center;
    justify-items:center;
    grid-template: 
    "ClearTitle" 1fr
    "." 1fr
    "Buttons"0.4fr/
    1fr;
    top:20%;
    width: 80%;
    height: 50%;
}

.ClearView{
    font-size: 50px;
}

.ClearButtons{
    grid-area: Buttons;
    display: grid;
    grid-template: 
    "Home Next" 1fr/
    1fr 1fr;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
}

.HomeButton{
    border: 3px solid black;
    width: 80%;
    height: 80%;
    font-size: 140%;

}

.Nextlv{
    border: 3px solid black;
    width: 80%;
    height: 80%;
    font-size: 140%;

}