.choicebutton{
    margin-top: 5px;
    font-size: large;
    text-align: center;
    width: 200px;
    height: 6vh;
}

.SubmitButton{
    font-size: large;
    text-align: center;
    width: 200px;
    height: 6vh;
}