.choicebutton{
    background-image: url("./button.png");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.choicebutton button{
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 120%;
    width: 60%;
    aspect-ratio: 1;
    /* height: 90%; */
}

.SubmitButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.SubmitButton button{
    font-size: large;
    text-align: center;
    width: 70%;
    height: 100%;
}