.QuizDiv{
    background-image: url("./BackGroundKiban.png");
    background-size: 120vw 180vw;
    background-position: 50% 35%;
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;
    background-repeat: repeat-y;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    display: grid;
    grid-template:
        ". . ." 2fr
        ". text ." 2.4fr
        ". . ." 0.5fr
        ". choice ." 24vh
        ". . ." 0.5fr
        ". submit ." 1fr 
        ". . ." 2fr 
        / 0.5fr 36vh 0.5fr;
}

.QuizText{
    grid-area: text;
    width: 100%;
    height: 100%;
}

.Buttons{
    grid-area: choice;
    align-items: center;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.SubmitButton{
    grid-area: submit;
}

.resultMoniter{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: 
    "result" 1fr 
    "comment" 1fr 
    "next" 1fr
    / 1fr;
    position: absolute;
    width:100%;
    height: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(9, 9, 160);
}

.result{
    grid-area: result;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    text-align: center;
    width:70%;
    height: 50%;
    font-size: 5vh;
}

.hint{
    grid-area: comment;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 9, 160);
    color: white;
    width:100%;
    height: 20%;
    text-align: center;
    font-size: 3vh;
}

.NextButton{
    grid-area: next;
    justify-content: center;
    align-items: center;
    color: white;
    width:100%;
    height: 30%;
    text-align: center;
    font-size: 3vh;
}

.FinalResult{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    /* background-color: yellow; */
}